body {
    font-family: serif;
}

.p_one {
    margin-bottom: -15px;
}

.p_two {
    margin-top: -16px;
    margin-bottom: -18px;
    margin-left: 62px;
}

.p_three {
    margin-left: 62px;
}
 .div_one {
     font-family: monospace;
     font-size: 14px;
 }